<% layout ('layouts/login') -%>
<form action="/users/login" class="form-login text-center border border-light p-5" method="POST">
    <!-- <img class="mb-4" src="" alt="logo" width="72" height="72" />  -->
    <i class="fas fa-user fa-3x"></i>
    <h1 class="h3 mb-3 font-weight-normal">Registrar Usuário</h1>
  
    <%if(message) {%>
    <p>
      <label style="color: red"><%= message%></label>
    </p>
    <%}%>
  
    <div class="form-group">
      <label for="form-control">Nome</label>
      <input
        type="text"
        name="name"
        class="form-control"
        placeholder="Nome"
      />
    </div>
      <label>Email</label>
      <input
        type="email"
        name="name"
        class="form-control"
        placeholder="seu nome"
      />
    </div>
    <div class="form-group">
      <label>Senha</label>
      <input
        type="password"
        name="password"
        class="form-control"
        placeholder="Digite a senha"
      />
    </div>
      <label>Confirme a senha</label>
      <input
        type="password"
        name="confirm_password"
        class="form-control"
        placeholder="Confirme a senha"
      />
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">
      Acessar
    </button>
  
    <div class="p-4">
      <a href="/users/forgot">Esqueceu a senha?</a><br />
  
      <a href="/users/register">Não possui conta?</a><br />
    </div>
    <div class="ml-auto">
      <a href="/" class="">
        <i class="fas fa-arrow-left"></i>
        Voltar para o site</a
      >
    </div>
  </form>